@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

@{
    ViewData["Title"] = "Email confirmed";
}
    


<div class="container-account">
    <h1>Email confirmed</h1>
    <p>Your email has been successfully confirmed!</p>


    <div style="margin-top: 20px;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home Page</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-secondary">Log In Again</a>
    </div>

</div>
