@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

@{
    ViewData["Title"] = "Reset password";
}

<div class="account-actions">
    <div class="account-form">
        <h1>Reset Password</h1>
        <p>Please enter your email address so we can send you a link to reset your password.</p>

        <form id="account-form-build" method="post" asp-action="ForgotPassword" asp-controller="Account">

            <label for="Email">Email:</label>
            <input type="Email" name="Email" required placeholder="Enter Email" />
            <small id="emailError" style="color: red; display: none;">Please enter a valid Email.</small>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>
