@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

@{
    ViewData["Title"] = "Reset email";
}


<div class="container-account">
    <h1>Reset Password</h1>
    <p>If an account with the email address <strong>@ViewBag.Email</strong> exists, we have sent an email with further instructions to that address.</p>
    <p>Please check your inbox, and if you cannot find the email, check your spam folder.</p>
    <p>If you do not receive the email within a few minutes, you can try again or contact our technical support.</p>
    <p>Return to the <a href="@Url.Action("Login", "Account")">login page</a></p>
</div>
