@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

@{
    ViewData["Title"] = "Resend confirmation";
}

<div class="container-account">


    <h2>Confirmation Email Resent</h2>

    <p>
        The confirmation email has been resent to the address: <strong>@(ViewBag.Email)</strong>.
    </p>

    <p>
        Please check your email inbox, including the spam folder, if you do not see the message in your main inbox.
    </p>

    <p>
        If you still do not receive the email, please contact our support team.
    </p>

    <p>
        Thank you for your patience and we apologize for any inconvenience.
    </p>

</div>