@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

@{
    ViewData["Title"] = "Reset password";
}



<div class="account-actions">
    <div class="account-form">
        <form id="account-form-build" method="post" asp-action="ResetPassword" asp-controller="Account">
            <input type="hidden" name="code" value="@ViewBag.Code" />
            <input type="hidden" name="Email" value="@ViewBag.Email" />

            <label for="Password">New Password:</label>
            <input type="password" id="Password" name="Password" required placeholder="Enter new password" />

            <label for="ConfirmPassword">Confirm New Password:</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" required placeholder="Confirm new password" />

            <small id="passwordError" style="color: red; display: none;">Passwords must match.</small>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('resetpassword').addEventListener('submit', function (event) {
        var password = document.getElementById('Password').value;
        var confirmPassword = document.getElementById('ConfirmPassword').value;
        var passwordError = document.getElementById('passwordError');

        if (password !== confirmPassword) {
            event.preventDefault();
            passwordError.style.display = 'inline';
        } else {
            passwordError.style.display = 'none';
        }
    });
</script>
